body {
    background-image: url(../Daddy/blanco.jpg);
    font-family: "Copperplate";
}

#container {
    background-color: #FFFFFFB8;
}

header {
    height: 100px;
    margin: 0px;
    text-align: center;
    line-height: 50px;
    color: black;
    border: 5px groove gold;
    font-family: "Open Sans Merriweather";
}

nav {
    height: 80px;
    border: 5px groove gold;
}

nav ul li {
    float: left;
    list-style: disc;
    margin: 10px;
    line-height: 30px;
    color: black;
}

p {
    font-style: italic;
    font-weight: bold;
    color: black;
}

label {
    font-style: italic;
    font-weight: bold;
    color: black
}

h2 {
    text-decoration: underline;
    color: black;
}

button {
    background-color: gold;
    font-weight: bold;
}

#content {
    min-height: 50px;
    padding: 15px;
    border: 5px groove gold;
    ;
}

form {
    padding: 15px;
    border: 5px groove gold;
}

a {
    color: black;
}